*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.nav{
    height: 2vh;
    width: 3vw;
    text-decoration: none;
    /* position: fixed; */
    /* padding-bottom: 5vw; */
}
h2{
    text-align: center;
}
h6{
    text-align: center;
}
.new{
    background-color: rgb(199, 235, 255);
    color: rgb(45, 82, 203);
    border: 1px solid white;
    border-radius: 3px;
}
.signup1{
    background-color:rgb(45, 82,203);
    color: white;
    border: 3px solid white;
    border-radius: 3px;
}
.se{
    background-color:rgb(45, 82,203);
}
.but{
    width: 30vw;
    height: 4vh;
    /* background-color: black; */
    margin: 0vh 28vw;
    /* justify-content: space-between; */
    padding: 0vh 6vw;
    display: flex;
    gap: 1vw;
    
}
.hg{
    height: 5vh;
    width: 8vw;
    justify-content: space-around;
    padding: 0px 6px;
}
.hi{
    height: 5vh;
    width: 15vw;
    justify-content: space-between;
    padding: 0px 18px;

}
.hj{
    height: 5vh;
    width: 6vw;
    justify-content: space-between;
}
.img1{
    height: 20vh;
    width: 10vw;
    border: 2px lightblue;
    border: 3px white;
    border-radius: 150px;
}
.pics{
    justify-content: space-around;

}
.third{
    display: flex;
    text-align: center;
    /* margin-left: 35vw; */
    justify-content: center;
    background-color: rgb(152, 217, 235);
    /* height: 6vh; */
    height: 10vh;
    /* width: 100vw; */
}
.e{
    font-size: 40px;
    text-align: center;
}
.d{
 text-align: center;
}
.p{
margin: 1.6vw;
color: rgb(65, 65, 65);
}
.signup2{
    width: 10vw;
    height: 4vh;
    margin-top: 1.4vw;
    text-align: center;
    /* padding-bottom: 23px; */
    border: 1px solid rgb(45, 82,203);
    background-color:rgb(45, 82,203);
    border-radius: 5px;
}
.cen{
    background-color: rgb(248, 250, 251);
    /* width: 100vw; */
    /* height: 20vh; */
}
.search{
    justify-content: center;
    text-align: center;
    display: flex;
}
/* .img3{
    border-radius: 5px;
}
.img2{
    height: 32vh;
    width: 25vw;
    border-radius: 2px;
}
.fir{
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
/* } */
/* .sec{ */
    /* display: flex; */
    /* gap: 2px; */
/* } */
/* .img4{ */
    /* height: 32vh; */
    /* width: 25vw; */
    /* border-radius: 2px; */
/* } */ 
.img5{
    height: 32vh;
    width: 25vw;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 3px;
}
.img10{
    height: 32vh;
    width: 24.9vw;
    border-radius: 2px;
    margin-left: 13.4px;
    margin-top: 3px;

}
.fir{
    margin-top: 2px;
}
.img6{
    height: 65.5vh;
    width: 45vw;
    border-radius: 5px;
    margin-top: 3px;
}
.main1{
/* width: 100vw; */
    display: flex;
    /* justify-content: space-around; */
    /* gap: 2px; */
    margin: 0px 10px;
}
.padd{
    padding: 3px;
}
.img7{
    height: 32vh;
    width: 22.3vw;
    border-radius: 5px;
}
.img8{
    height: 32vh;
    width: 25vw;
    margin-left: 2px;
    border-radius: 5px;
}
.sp{
    margin-top: 5px;
    margin-left: 11px;
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: space-between; */
}
.img9{
    margin-top: 3px;
}
.main2{
    justify-content: space-around;

}
.neechay{
    margin-left: 10px;
}
.main4{
    display: flex;
    justify-content: space-around;
}
.png{
    height: 48vh;
    width: 22vw;
}
.po{
    position: absolute;
    margin: -43px 55px;
    font-size: 30px;
    color: white;
}
.cover a img:hover {
    background: linear-gradient(lightgrey);



}
#center img{
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    border: 1px solid white;
}
#main{
    display: flex;
    justify-content: space-around;
}
.mar1{
    margin-left: 1.3vw;
    font-size: 2vw;
    color: white;

}
.mar2{
    /* margin-left: 0.1vw; */
    font-size: 2vw;
    color: white;

}
.mar3{
    font-size: 2vw;
    margin-left: 0.7vw;
    color: white;

}
.mar4{
    font-size: 2vw;
    margin-left: 1.5vw;
    color: white;

}
.mar5{
    font-size: 2vw;
    margin-left: 2vw;
    color: white;

}
.mar6{
    font-size: 2vw;
    /* margin-left: vw; */
    color: white;

}
.mar7{
    font-size: 2vw;
    color: white;
}
.bold{
    color: blue;
}
.h3{
    color: darkgrey;
    /* font-size: 111vw; */
}
.ni{
    text-align: center;
}