#hov:hover {
    color: white;
    background-color: rgb(173, 70, 70);
    transition-duration: 1.5s;
  }
  span {
    font-size: 90px;
    padding: 10px;
    color: rgb(207, 167, 167);
  }
  h1 {
    font-size: 60px;
    color: azure;
  }
  body {
    background-color: rgb(9, 9, 9);
  }
  
  .unique {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  
  .increase {
    width: 90px;
    height: 25px;
    margin-top: 25px;
  }
  .decrease {
    width: 96px;
    height: 25px;
    margin-top: 25px;
  }
  .reset {
    width: 60px;
    height: 25px;
    margin-top: 25px;
  }
 
  